<div class='static-page-background'> 
    <div class="clear-single-column">
        <div class='title-text-container '>

            <div class='paragraph' >
                <div class='title'>
                    Zoals het
                    klokje thuis
                    tikt...
                </div>
                <b>... tikt het nergens. Een club is geen club, zonder een sterke achterban. Juist in een periode waar corona
                    alles in de war schopt, zagen we de binding groeien. Hoe leuk is het dan om te laten weten dat de derde
                    helft, de gezellige vrijdagavond van DOS’46, weer terug van weggeweest is. We hebben niet alleen leden
                    die al van kleins af aan lid zijn, maar we blijven ook nieuwe leden verwelkomen en zien oud-leden weer
                    terugkomen. DOS’46 wordt niet alleen door haar leden gedragen, maar ook <a class='link' [routerLink]="['/sponsoren']">sponsoren</a> dragen bij aan
                    het succes met hun kersverse, maar ook jarenlange support. Daar is DOS’46 trots op!
                    <br><br>
                    Wist je dat onze voorzitter, Haralt Lucas, frequent contact heeft met interne en externe ‘stakeholders’? Dan hebben we het
                    niet alleen over onze leden, vrijwilligers, sponsoren, commissies en het kernteam, maar denk ook aan de gemeente Meppel,
                    de politieke partijen, het KNKV, Stichting Airdome (SAN), andere sportverenigingen in Nijeveen/Meppel, de dorpsvereniging
                    en andere korfbalclubs in Nederland waarbij wij een sterke functie vanuit onze regio hebben.</b>
                <br><br>
            </div>

        </div>

    </div>


    <div class="single-column" style="position:relative;">
        <div class='bg-image'>      
                <div class='absolute-paragraph' >
                    <a class='title3'><a style="color:red">TERUG VAN
                        WEGGEWEEST, <br></a>DE DERDE HELFT VAN DOS'46</a>
                </div>
            
        </div>
        <!-- <img src='../../assets/kees_rodenburg/kees.jpg'> -->
    </div>
    <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
        <div class='paragraph' fxFlex="50%">
            <b>Wellicht heb je het op de socials gezien of in de wandelgangen of via via
            al gehoord, maar de derde helft, de
            gezellige vrijdagavond van DOS’46 is
            terug van weggeweest.</b>
            <br> <br>
            Op de vrijdagavonden wordt er eerst hard getraind,
            vervolgd door een lekkere versnapering van
            wisselende bartoppers
            <img class='paragraph-image' src='../../assets/derde-helft/image-2223.png'>
            De vrijdagavondtraining is bedoeld voor leden van DOS’46
die geen vaste trainingsavond hebben, maar toch wel wekelijks een balletje willen gooien. De training staat altijd onder
            <br> <br>
            </div>
            
        <div class='paragraph' fxFlex="50%">
            <img class='paragraph-image' src='../../assets/derde-helft/image-2230.png'>
            leiding van een toptrainer. Er is dus volop variatie in
            oefeningen en er wordt uiteraard altijd afgesloten
            met een wedstrijdj

            <br> <br>
            Na de training is de kantine geopend voor een hapje en
een drankje. Niet getraind, maar wel zin in een hapje en
drankje in de kantine? Gezellig, kom vooral langs!
            <br> <br>
            Lijkt het je leuk om een keer mee te trainen? Wees van
            harte welkom. Hoe meer zielen, hoe meer vreugde!
            <br> <br>
            

            
        </div>
    </div>        

</div>

    <!-- </div> -->

<!-- </div> -->
    



