<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<rewrite>
			<rules>
				<!-- <rule name="Main Rule" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule> -->
				<rule name="Eigen website voor subdomein sub">
					<match url="(.*)" />
					<conditions trackAllCaptures="true">
						<add input="{HTTP_HOST}" pattern="^dossier46\.example\.com$" />
						<add input="{PATH_INFO}" pattern="^/dossier46" negate="true" />
					</conditions>
					<action type="Rewrite" url="/{C:1}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
