

<div class="static-page-background">
  <div class='cover-title' >
    <div class='title-container'>
      <img class='title-image' src='../../assets/Logo-DOS46-75 Jaar.png'>
      <div class='title'><a>DOS</a>SIER<a>46</a></div>
      <div class='title2'>2021-2022</div>
    </div>

    
  </div> 
</div>

<!-- </div>
  <div fxLayout="row" fxLayout.lt-md="column">

    <div class='cover-image' fxFlex>
      <img style="z-index: -1;" src="../../assets/cover_img.JPG">
    </div> 
    
  </div> -->



 