.example-card {
    // max-width: 400px;
    margin-bottom: 32px;
    background-color: rgba(0, 0, 0, 0.0);
    
  }
.static-page-background {
  background-image: url(../../assets/spelers-van-toen/spelers_van_toen_bg.JPG);
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

  .cardList {
    padding: 10%;
    justify-content: center;
    
  }

  video {
    width: 100%;
    margin-bottom: 5%;

  }
img {
  border-radius: 50%;
  max-width: 350px;
  height: auto;
  min-width:250px;
  align-items: center;
  border: solid;
  border-color: grey;
  margin:5%;
  
}

.title {
  font-family: 'Tampa_Bay';
  font-size: 12vw;
  line-height: 12vw;
  text-align: center;
  color:white;
  position: absolute;
  width: 100%;
  bottom:5%;
  left: 0;
  

}

.paragraph-title {
  color:black;
}
.player-title {
  font-size: 30pt;
  line-height: 30pt;
  font-family: 'Oswald', sans-serif;
  // background:rgba(33, 33, 33, 0.6);
  color:white;
  padding: 5%;
  padding-top: 10%;
  // border-radius: 20px;
  // border-color: red;
  // border-width: 20px;
}


.video-title {
  font-family: 'Oswald', sans-serif;
  font-size: 4vw;
  text-align: center;
  background:rgba(0, 0, 0, 0.0);
  line-height: 4vw;
  margin-bottom: 2%;
  color: white;
  
}
.avatar-image {
  text-align: center;
  max-height: 600px;
  margin-right: 20px;
  margin-left: 20px;
  // background: rgba(33, 33, 33, 1);
  border-radius: 20px;
  margin-bottom: 5%;  
  
}

.paragraph {
  background:white;
  // border-radius: 20px;
  // border-top: solid;
  // border-width: 20px;
  // border-color: red;
  padding-bottom: 5%;
}



@media only screen and (max-width: 959px) {
  .avatar-image {
    max-height: auto;
    margin-right: 0px;
    margin-left: 0px;
    // padding-bottom: 5%;
  }
  img {
    max-width: 250px;
    
    min-width:0px;
  }

  .video-title {
    font-size: 8vw;
    line-height: 8vw;
  }
  .cardList {
    padding:0;
  }
  .title {
    font-size: 16vw;
    line-height: 16vw;
  }

  .static-page-background {
    background-image: url(../../assets/spelers-van-toen/spelers_van_toen_bg_mobile.JPG);
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  }
  
}

