<div class='page-background'>
    <div class='title2'>
    DOS'46 BEDANKT AL HAAR
    </div>
    <div class='title'>
        VRIJWILLIGERS
    </div>

    <div class='single-column'>
        <div class='paragraph'>
            Vrijwilligers bedankt voor jullie toewijding aan onze mooie club. Bedankt voor jullie inzet. Bedankt voor jullie tijd.
            Bedankt voor alles wat jullie voor DOS’46 doen. Zonder vrijwilligers geen DOS’46. Jullie zijn goud waard!
        </div>

    </div>


<img src='../../assets/Vrijwilligers DOS.png'>
</div>
<!-- <div  [innerHTML]="eulaContent">...</div> -->