.title2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: 7vw;
    line-height: 12vw;
    color: white;
    text-shadow: 2px 0 0 #E0071C, -2px 0 0 #E0071C, 0 2px 0 #E0071C, 0 -2px 0 #E0071C, 1px 1px #E0071C, -1px -1px 0 #E0071C, 1px -1px 0 #E0071C, -1px 1px 0 #E0071C;
}

.page-background{
    padding-top: 5vh;
    text-align: center;
    min-height: 100vh;
}

.title {
    font-size: 12.5vw;
}

.single-column {
    // 
    background: rgb(0,0,0,0);
}
.paragraph {
    color:black;
}