<div class='image-header'>
        <div class='title'>
            <a class='title4'>
                DOS'46 BEDANKT AL HAAR
            </a>
            SPONSOREN
        </div>
    
</div>
<div class='page-background'>

    <div class='single-column'>
        <div class='paragraph'>
            <b>Via deze weg wil DOS’46 alle sponsoren bedanken voor hun trouwe support afgelopen jaar. Ondanks de gekke periode
            zijn vrijwel alle sponsoren betrokken gebleven bij onze mooie club. DOS’46 wordt niet alleen door haar leden gedragen,
            maar ook sponsoren dragen bij aan het succes. Daar is DOS’46 trots op!</b>
            <br><br>
            DOS’46 heeft de afgelopen jaren nieuwe sponsormogelijkheden aan het sponsorpakket toegevoegd. Van balsponsoren, tot
            subsponsoren en van businessclub leden tot shirtsponsoren. Voor elke ondernemer, klein of groot, kan DOS’46 wat betekenen
            in zichtbaarheid. Daarnaast gaan ook de online ontwikkelingen snel. Zo heeft DOS’46 momenteel ruim 1.700 volgers op Instagram, 2.400 volgers op Facebook en 600 abonnees op de maandelijkse nieuwsbrief (het Online Dossertje). Als sponsor van
            DOS’46 profi teer je op alle vlakken mee!
        </div>
    </div>
    <div class='double-column' fxLayout="row wrap" fxLayout.lt-md="column">
        <div class='paragraph' fxFlex='0 1 50%'>
            
            <div class='paragraph-title'>WORD SPONSOR VAN DOS’46! </div>
            Ben jij ondernemer en lijkt het jou ook interessant
            om de mogelijkheden tot sponsoring van DOS’46
            te verkennen?

            <br><br>


        </div>
        <div class='paragraph' fxFlex='0 1 50%'>
            We komen graag met je in contact!
            Stuur je contactgegevens en je vraag naar
            sponsor@dos46.nl en we komen zo snel
            mogelijk bij je terug met een passend
            sponsorvoorstel.
            <br><br>
        </div>
        
    </div>
        <div class='single-column'>

            <div class='title2'>BUSINESS CLUB SPONSOREN</div>
        </div>
        

    

    <div class="double-column" fxLayoutGap="20px" fxLayout="row wrap" fxLayout.lt-md="column">
        
        <div class='card-container' *ngFor="let image_path of sponsor_names" fxFlex="0 1 calc(50% - 20px)">
            <div class='card-image'> <img src='../../assets/BC/{{image_path}}'>
            </div>   
        </div>

    </div>


 
    
</div>

<!-- <div  [innerHTML]="eulaContent">...</div> -->