<div class='static-page-background'> 
    <div class="clear-single-column">
        <div class='title-text-container '>

            <div class='paragraph' >
                <div class='title'>
                    KOM MAAR OP!
                </div>
                <b>De Korfbal League dateert van het seizoen 2005/2006. Van de eerste vier Korfbal Leaguefi nales werden er
                    drie gewonnen door DOS’46. TOP/LITTA is met vijf titels de recordhouder. De laatste fi nale werd gewonnen door PKC/Vertom. DOS’46 degradeerde in 2012 uit de League en keerde in 2015 weer terug.
                    <br><br>
                    Wat gaat het nieuwe seizoen ons brengen? Directeur KNKV Kees Rodenburg en de staf van de selectie van
                    DOS’46 blikken vooruit (en kijken een beetje achteruit) en we stellen uiteraard de nieuwe selectie voor.</b>
                <br><br>
            </div>

        </div>

    </div>


    <div class="single-column" style="position:relative;">
        <div class='bg-image'>      
                <div class='absolute-paragraph' >
                    <a class='title3'>
                        “DOS’46
                        IS NIET
                        LULLEN,
                        MAAR
                        POETSEN”</a>
                    <br>
                    KNKV-directeur Kees Rodenburg over DOS’46

                </div>
            
        </div>
        <!-- <img src='../../assets/kees_rodenburg/kees.jpg'> -->
    </div>

    <div class="single-column">
        <div class='paragraph'>
        <b >Het vlaggenschip van DOS’46 komt in
            de zaal uit in de Korfbal League. In deze
            hoogste klasse mochten de Nijeveners
            zich driemaal tot kampioen van Nederland (2006, 2007, 2009) laten kronen.
            Met de overige Korfbal Leagueclubs en
            het Koninklijk Nederlands Korfbalverbond (KNKV) heeft DOS’46 goed contact
            om de sterkste korfbalcompetitie ter
            wereld zo goed mogelijk te laten verlopen en uit te dragen. Hoe kijkt KNKV-directeur Kees Rodenburg aan tegen
            DOS’46? Een monoloog.</b>
    </div>
    </div>
    <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
        <div class='paragraph' fxFlex="50%">
            “DOS’46 is een gezellige en fanatieke vereniging met alle
            hoogste jeugdteams op landelijk niveau. DOS’46 is ‘niet lullen, maar poetsen’. Na twee periodes van bloei volgde in
            2012 degradatie naar de Hoofdklasse. Ik vind het enorm
            knap dat de club toen alle talenten aan zich heeft weten
            te binden en na een lange en moeizame reis toch in 2015
            weer de Korfbal League wist te bereiken.”
            <br> <br>
            <div class='paragraph-title'>BINDING</div>
            “Om aan de top te spelen is een grote club nodig met veel
            menskracht. Die mensen zetten zich in als vrijwilliger als
            de binding groot is. Die binding is altijd een sterk punt van
            DOS’46 geweest, maar zou mogelijk in deze tijd wat onder
            druk kunnen komen te staan. Naast investeren in topsport
            is het dus ook belangrijk om te investeren in breedte, sociale samenhang en verbindende activiteiten.”
            “Een sterk punt vind ik dat DOS’46 zijn verleden koestert.
            Aandachtspunt vind ik dat de huidige sterke punten mogelijk noodzakelijke veranderingen in de weg kunnen staan.
            Voldoet de zaalaccommodatie aan de eisen van de Korfbal
            League 2025? Nijeveen is een begrip, maar Meppel heeft
            grote potentie. Mogelijk ontwikkelt de Korfbal League zich
            tot een professionele competitie met fulltime coaches, spelers die onder contract staan en regelmatig doordeweekse
            wedstrijden. Dan moeten dus bereik en omzet omhoog en
            dat zou een knelpunt kunnen worden.

            <br> <br>


            
        </div>


        <div class='paragraph' fxFlex="50%">
            <div class='paragraph-title'>GOEDE KANT VAN DE STREEP</div>
            ‘Goede kant van de streep’
            “Albert Lucas, Jaap Kleinpaste, …”
            Gevraagd naar mooie momenten uit de 75-jarige historie
            van DOS’46 noemt Rodenburg direct enkele namen en
            wedstrijden. “In 1978 speelde ik met de junioren van Dalto
            tegen DOS’46 om het Nederlands kampioenschap. In dat
            team van DOS’46 speelden toen onder andere Alie Sok en
            Nico Buiten. Toen in Zeist werden wij kampioen. In 1987
            zat DOS’46 1 juist aan de goede kant van de streep, toen
            we een beslissingswedstrijd speelden om handhaving in de
            Hoofdklasse.”
            <br><br>
            <div class='paragraph-title'>DORPSCLUB EN RANDVOORWAARDEN</div>
            “Zelf hoop ik dat korfbal zich blijft ontwikkelen als een sport
            waarbij de eigen opleiding op één staat en er veel binding
            is tussen de selecties en hun achterban. Als liefhebber
            koester ik het beeld van de dorpsclub met historie, goede
            jeugdteams en grote verbondenheid, als bestuurder weet
            ik dat de randvoorwaarden steeds belangrijker worden om
            je te kunnen handhaven aan de top.”
            <br><br>
        </div>     
    </div>        

</div>

    <!-- </div> -->

<!-- </div> -->
    



