<div class='static-page-background'> 
        <div class="single-column" style='height: 100vh; background: rgb(0,0,0,0)'>
            <div class='title'>
                KLAARSTOMEN VOOR DE TOEKOMST
            </div>
        </div>

        <div class="single-column" style="color:black">
            <div class='paragraph' >
                <b>Al jaren draait DOS’46 in de top mee. Daar zijn wij trots op en werken we hard voor. En dan bedoelen we
                    niet alleen de trainingsintensiteit, maar ook de weg ernaar toe. Zo staat de Airdome voor het 2e jaar en
                    blijven we doorontwikkelen met KID: Korfbal instituut DOS’46.
                    Maar sporten is meer dan alleen resultaten boeken. Met je team train je hard om beter te worden,
                    maar ontstaan er ook mooie vriendschappen en heb je veel plezier. En dat vinden we belangrijk. Daarom zijn er vele mooie georganiseerde activiteiten zoals bijvoorbeeld de kampweek, maar zijn we ook
                    gestart met <a class='link' [routerLink]="['/walking-g-korfbal']">Walking Korfbal</a> en onderzoeken we de mogelijkheid om <a class='link' [routerLink]="['/walking-g-korfbal']">G-Korfbal</a> op te starten. Iedereen
                    kan zich blijven ontwikkelen.</b>
                <br><br>
            </div>
        </div>
        <div class="single-column image" style="position:relative;">
            <div class='title-container'>
                <a class='title2' >
                    KAMP
                </a>
                <a class='title3'>“SAMEN <br> PLEZIER <br> MAKEN”</a>
            </div>
            <img src='../../assets/kamp/groepsfoto_2021_2.jpeg'>
        </div>
        <div class="single-column">
            <div class='paragraph' >
                <b>Al 54 jaar een week vol plezier, spellen, muziek, feest, zwemmen,
                    gekkigheid, avontuur, spektakel, spanning en sensatie. Kinderen die in leeftijd van E (2e jaars),
                    D of C zitten, mogen mee met de kampweek. De week duurt maar liefst acht dagen (zeven nachten),
                    van zaterdag tot zaterdag, de eerste week van de zomervakantie.</b>
                <br><br>
            </div>
        </div>
        <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
            <div class='paragraph' fxFlex="50%">
                De kampweek is het voorbeeld van de saamhorigheid en
het clubgevoel bij DOS’46. De week staat in het teken van
samen plezier maken. Iedereen wordt gestimuleerd om samen lol te hebben, er wordt nooit iemand buitengesloten.
<br> <br>
<div class='paragraph-title'>KAMPLEIDING</div>
Naast dat er altijd een hoop kinderen mee gaan, is er ook
een hechte groep jongeren die elk jaar met liefde een week
met de kinderen op pad gaat. Het is niet altijd gemakkelijk
om de hele week vol de houden, maar door de ‘koffi e momentjes’ is het altijd goed te doen.
                <img class='paragraph-image' src='../../assets/kamp/leiding.jpg'>

                <br> <br>
                <div class='paragraph-title'>KOFFIE MOMENTJE</div>
                Het koffi e momentje is een periode van ongeveer 15 minuten waarin de leiding niet gestoord mag worden. Dit moment is er om even tot rust te komen en te bespreken wat
                er in het volgende dagdeel gedaan gaat worden.
                <br><br>
                <div class='paragraph-title'>DE DOOP</div>
                De doop is de eerste dagen van de kampweek altijd het gesprek van de dag, de zenuwen rijzen soms de pan uit bij de
                eerstejaars kinderen (de groentjes). Dit wordt vaak enorm
                versterkt door de groteske verhalen van oudere jaar’s over
                hun doop. Aan het einde van de rit valt het altijd allemaal
                heel erg mee en is er vaak vooral gelachen. 
                <br><br>

                
            </div>


            <div class='paragraph' fxFlex="50%">
                <img class='paragraph-image' src='../../assets/kamp/doop.jpg'>
                <div class='paragraph-title'>RODE DRAAD</div>
                
                Het befaamde ‘rode draad’ spel, een competitie waarin
                elke kampleider een team onder zijn hoede heeft. Elke dag
                wordt er een spel gespeeld waarbij er punten verdiend
                kunnen worden. Aan het einde van de week is er zo één
                grote winnaar!
                <img class='paragraph-image' src='../../assets/kamp/rode_draad.jpg'>

                
                <br><br>
            </div>     
        </div>        

</div>
    
        <!-- </div> -->
    
    <!-- </div> -->
        
    
    
    
    