


<div style="height: 100%; width:100%;position:fixed;  z-index:10;" (swipeleft)="onNext()" (swiperight)="onPrevious()">
<div>
    <div>
      <button type="button" (click)="onPrevious()" [disabled]="index===0">Previous</button>

      </div>
      <div style=" float:right;">
        <button type="button" (click)="onNext()" [disabled]="this.index == this.routeNames.length - 1">Next</button>
      </div> 

  </div>

</div>

<main [@Slider]="index" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>