

<!-- <div class=""></div> -->
<div class="static-page-background">
    <div class="text-block">
        
        <div class='paragraph'>
            <div class="title">VOORWOORD</div>
            <b>Met de nodige trots bieden wij jullie DOSSIER46 voor het seizoen 2021 – 2022 aan.</b><br/><br/>
            DOSSIER46 weer vooruit kijken naar de mogelijkheden die er weer zijn. Dit DOSSIER46 heeft een dubbele
            inhoud. We willen uiteraard onze selectie presenteren die het komende Korfballeague seizoen gaat strijden
            om de prijzen. Daarnaast viert onze mooie vereniging dit jaar haar 75-jarig jubileum. <br/><br/>
            Het thema van dit DOSSIER46 is het Team achter het Team. En bij DOS’46 kun je dan heel veel verhalen
            vertellen. Want de selectie kan bouwen op veel ondersteuning van buiten de selectie. Vrijwilligers, jeugd,
            supporters, sponsoren hebben allemaal een belangrijke rol in het presteren van onze selectie. <br/><br/>
    
            De werkgroep die dit DOSSIER46 heeft samengesteld wenst jou heel veel leesplezier,
            een mooi korfbal seizoen en een geweldig jubileumjaar.
        
        </div>
    </div>


</div>