.player-image-container {
    width: 100%;
}


.team-title {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 12vh;
    line-height: 18vh;
    position: absolute;
    bottom: 5%;
    text-align: center;
}

img {
    bottom:0;
}
.player-name {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 2vw;
    line-height: 2vw;
    color:black;

}
.player-image {
    background-image: url('../../assets/spelers/background_player.png');
    background-size: cover;
    width: 100%;
}


.player-number {
    position: absolute;
    font-family: 'Tampa_Bay';
    font-size: 5vw;
    font-weight: 900;
    line-height: 5vw;
    top: 5%;
    left: 2%;
}

.player-container {
    position: relative;
}
.single-column{
    position: relative;
    text-align: center;
    background: rgb(0,0,0,0);
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}

.page-background {
    padding-top: 2%;
}

@media only screen and (max-width: 959px) {
    .player-number {
        font-size: 16vw;
        line-height: 16vw;
    }
    .title {
        font-size: 8vw;
        line-height: 12vw;
    }
}



