<div class='image-header'>
    <img src='../../assets/IMG_4417.jpg'> 
</div>
<div class='page-background'>
    <div class='single-column'><div class='title'>STAF</div></div>
    <div class="triple-column" fxLayoutGap="20px" fxLayout="row wrap" fxLayout.lt-md="column">
        
        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-image'> <img src='../../assets/staf/Edwin Bouman.png'>
            </div>   
            <div class="player-name">EDWIN <br> BOUMAN</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-image'> <img src='../../assets/staf/Rick Wessel.png'>
            </div>   
            <div class="player-name">RICK <br> WESSEL</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-image'> <img src='../../assets/staf/Michel Zink.png'>
            </div>   
            <div class="player-name">MICHEL <br> ZINK</div>
        </div>
        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-image'> <img src='../../assets/staf/Luca Spin.png'>
            </div>   
            <div class="player-name">LUCA <br> SPIN</div>
        </div>
        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-image'> <img src='../../assets/staf/Marthijs van Schie.png'>
            </div>   
            <div class="player-name">MARTIJS<br> VAN SCHIE</div>
        </div>
        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-image'> <img src='../../assets/staf/Marinke Jacobs.png'>
            </div>   
            <div class="player-name">MARINKE <br>JAKOBS</div>
        </div>
        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-image'> <img src='../../assets/staf/Ruud Vermeer.png'>
            </div>   
            <div class="player-name">RUUD <br> VERMEER</div>
        </div>

    </div>
    <div class='single-column'><div class='title'>HEREN</div></div>
    <div class="triple-column" fxLayoutGap="20px" fxLayout="row wrap" fxLayout.lt-md="column">
        
            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>1</div>
                <div class='player-image'> <img src='../../assets/spelers/1. Thomas Visser.png'>
                </div>   
                <div class="player-name">THOMAS <br> VISSER</div>
            </div>

            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>2</div>
                <div class='player-image'> <img src='../../assets/spelers/2. Cas Steenbergen.png'>
                </div>   
                <div class="player-name">CAS <br> STEENBERGEN</div>
            </div>

            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>4</div>
                <div class='player-image'> <img src='../../assets/spelers/4. Leander Zwolle.png'>
                </div>   
                <div class="player-name">LEANDER<br> ZWOLLE</div>
            </div>

            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>5</div>
                <div class='player-image'> <img src='../../assets/spelers/5. Max Malestein.png'>
                </div>   
                <div class="player-name">MAX <br> MALESTEIN</div>
            </div>

            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>6</div>
                <div class='player-image'> <img src='../../assets/spelers/6. Melvin Frieswijk.png'>
                </div>   
                <div class="player-name">MEVLIN <br> FRIESWIJK</div>
            </div>

            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>7</div>
                <div class='player-image'> <img src='../../assets/spelers/7. Jesse van der Linde.png'>
                </div>   
                <div class="player-name">JESSE <br> VAN DER LINDE</div>
            </div>

            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>10</div>
                <div class='player-image'> <img src='../../assets/spelers/10. Christian Dekkers.png'>
                </div>   
                <div class="player-name">CHRISTIAN <br> DEKKERS</div>
            </div>

            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>11</div>
                <div class='player-image'> <img src='../../assets/spelers/11. Luc Hulzebosch.png'>
                </div>   
                <div class="player-name">LUC <br> HULZEBOSCH</div>
            </div>

            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>22</div>
                <div class='player-image'> <img src='../../assets/spelers/22. Pascal Frieswijk.png'>
                </div>   
                <div class="player-name">PASCAL <br> FRIESWIJK</div>
            </div>
            <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
                <div class='player-number'>23</div>
                <div class='player-image'> <img src='../../assets/spelers/23. Mart Vrielink.png'>
                </div>   
                <div class="player-name">MART <br> VRIELINK</div>
            </div>




    </div>
    <div style='margin-top: 2%;' class='single-column'><div class='title'>DAMES</div></div>
    <div class="triple-column" fxLayoutGap="20px" fxLayout="row wrap" fxLayout.lt-md="column">
        
        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>11</div>
            <div class='player-image'> <img src='../../assets/spelers/11. Melanie Guldenaar.png'>
            </div>   
            <div class="player-name">MELANIE <br> GULDENAAR</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>12</div>
            <div class='player-image'> <img src='../../assets/spelers/12. Eline van Beldhuijsen.png'>
            </div>   
            <div class="player-name">ELINE <br> VAN VELDHUIJSEN</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>13</div>
            <div class='player-image'> <img src='../../assets/spelers/13. Famke Smelt.png'>
            </div>   
            <div class="player-name">FAMKE<br>SMELT</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>14</div>
            <div class='player-image'> <img src='../../assets/spelers/14. Wendy Kampijon.png'>
            </div>   
            <div class="player-name">WENDY <br> KAMPIJON</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>15</div>
            <div class='player-image'> <img src='../../assets/spelers/15. Fardau de Boer.png'>
            </div>   
            <div class="player-name">FARDAU<br> DE BOER</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>16</div>
            <div class='player-image'> <img src='../../assets/spelers/16. Tessa Lap.png'>
            </div>   
            <div class="player-name">TESSA <br> LAP</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>17</div>
            <div class='player-image'> <img src='../../assets/spelers/17. Manouk ten Kate.png'>
            </div>   
            <div class="player-name">MANOUK <br> TEN KATE</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>18</div>
            <div class='player-image'> <img src='../../assets/spelers/18. Kim Petersen.png'>
            </div>   
            <div class="player-name">KIM <br> PETERSEN</div>
        </div>

        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>25</div>
            <div class='player-image'> <img src='../../assets/spelers/25. Amber van Doorn.png'>
            </div>   
            <div class="player-name">AMBER <br> VAN DOORN</div>
        </div>
        <div class='player-container' fxFlex="0 1 calc(33.3% - 20px)">
            <div class='player-number'>26</div>
            <div class='player-image'> <img src='../../assets/spelers/26. Lynn Bijkerk.png'>
            </div>   
            <div class="player-name">LYNN <br>BIJKERK</div>
        </div>

    </div>
    
</div>
