<div class='image-header'>
    <div class="title">
            <a class="sub1">LIVESTREAM</a> <br> 
            <a class="sub2"> WIST JE DAT?</a>
    </div>
    <img src='../../assets/livestream/Unknown-4.jpg'> 

</div>


<div class='page-background'> 
    <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
            <div class='paragraph' fxFlex="50%">
                ...er minimaal 14 mensen tweewekelijks nodig zijn voor
                de livestream van DOS’46?
                <br><br>
                ...er vier camera’s gezamenlijk 300 GB
                aan beeldmateriaal vastleggen?
                <br><br>
                <img class='paragraph-image' src='../../assets/livestream/Unknown-2.jpg'>
                ...er 400 meter kabel door de sporthal ligt per wedstrijd?
                Jaarlijks wordt dit wel minder, doordat er steeds vaker gebruik wordt gemaakt
                van de moderne “NDI techniek”. Een techniek waarbij er draadloos gewerkt wordt.
                <br><br>
                ...er een door De Haas zelf samengestelde,
                en gebouwde computer gebruikt wordt waar
                alle signalen van buitenaf binnenkomen?
                <br><br>
                <img class='paragraph-image' src='../../assets/livestream/Unknown-3.jpg'>
                ...naast deze computer nog vier laptops nodig zijn?
                <br><br>
                ...het livestreamteam dit seizoen gaat experimenteren met de communicatie tussen
                regie en overige crewleden? Er wordt een draadloos systeem gebruikt,
                waarbij de regisseur alle livestreamteamleden kan aanspreken in de zaal.
                <br><br>
                <img class='paragraph-image' src='../../assets/livestream/Unknown-5.jpg'>

            </div>
            <div class='paragraph' fxFlex="50%">
                ...een uitzending op Eyecons van één wedstrijd in totaal 2 uur duurt?
                <br><br>
                ...er gemiddeld zo’n 9.000 aansluitingen
                kijken naar de wedstrijden op Eyecons?
                Per aansluiting kunnen dus meerdere mensen kijken.
                <br><br>
                <img class='paragraph-image' src='../../assets/livestream/Unknown-6.jpg'>
                …de gemiddelde kijktijd per wedstrijd op 5600 uur zit?
                <br><br>
                … het livestreamteam van DOS’46 ook deels aanwezig
                was bij de Korfbal Leaguefinale?
                <br><br>
                <img class='paragraph-image' src='../../assets/livestream/Unknown-7.jpg'>
                … het livestreamteam van DOS’46 ook andere sportfinales ondersteunt?
                Zoals bijvoorbeeld het beachhandbaltoernooi. Hiervoor ontvangt het KVNK een mooie
                bijdrage die ingezet wordt voor de DOS’46 livestream.
                <br><br>
                <img class='paragraph-image' src='../../assets/livestream/Unknown-8.jpg'>
                … het livestreamteam altijd nog meer handen kan gebruiken?
                Lijkt het jou leuk om komend jaar mee te werken in het professionele
                livestreamteam van DOS’46? Meld je aan via Remco de Haas (livestream@dos46.nl).
                <br><br>
                
            </div>
        </div>
        <div class='title4'>
            <a class="sub1">DATA</a>
            <a class="sub2 sub3"> TEAM</a>
        </div>
        <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
            <div class='paragraph' fxFlex="50%">
            <b>Sinds vorig jaar hebben wij bij
                DOS’46 een heus data team. Dit
                team bestaat uit Ryanne van Kampen, Martijs van Schie en Edward
                Jonkman.</b>
                <br><br>
                Ryanne werkt als data analist en is
                binnen het data team onder andere
                verantwoordelijk voor de aanlevering
                van alle relevante data. Mede door
                haar werk als data analist heeft Ryanne vaak een hele scherpe kijk op de
                data en relevantie ervan.
                <br><br>
                Martijs werkt op de sales afdeling van
                ENGIE. Martijs koppelt de data aan de
                videobeelden van wedstrijdsituaties
                van DOS’46 en van de tegenstander.
                <br><br>
                Edward zorgt voor een analyse van
                de tegenstander op basis van de beschikbare data.
                <br><br>
                Vanuit een Korfbal League wedstrijd
                wordt bijna elke actie bijgehouden.
                Hierbij moet je denken aan hoe vaak
                iemand schiet, hoe vaak iemand
                scoort en wie een assist geeft tot aan
                de duur van een teamaanval aan toe
                <br><br>
            </div>
            <div class='paragraph' fxFlex="50%">
                Het levert ons heel veel data op die
                wij elke zondag en maandag verwerken tot een rapportage voor de staf.
                <br><br>
                Het is erg belangrijk om te weten, dat
                data/statistieken op zichzelf niet veel
                zeggen, maar altijd een gevolg zijn van
                een korfbalactie.
                <br><br>
                Het juist interpreteren en lezen van data is dus essentieel.
                <br><br>
                Elke dinsdag leveren wij een compleet
                pakket aan de trainers van het eerste,
                Edwin en Rick. Aan de hand van onze
                bevindingen werken zij het plan voor
                de eerstkomende wedstrijd definitief
                uit.
                <br><br>
                Het pakket bestaat uit alle beschikbare data die we hebben. En bevat ook
                de analyse van aanvallen en verdedigingen van de tegenstander en individuele spelerspaspoorten van alle
                tegenstanders.
                <br><br>
                Hierop staan de sterke, zwakke punten
                van de tegenstanders, en de relevante
                statistieken. Tevens staan er op een
                afgeschermde website diverse clipjes
                met beelden van de tegenstander.
            </div>
        </div>
        
        <div class='double-column' fxLayout="row wrap" fxLayout.lt-md="column">
            <div class='title2'>VOOR ELKE WEDSTRIJD</div>
            <div class='data-box red' fxFlex="0 1 50%">
                ZIEN WIJ GEMIDDELD
                <h1>125</h1>
                <h2>AANVALLEN</h2>
                VAN EEN TEGENSTANDER
            </div>
            <div class='data-box black' fxFlex="0 1 50%">
                ZIEN WIJ GEMIDDELD
                <h1>100</h1>
                <h2>VERDEDIGINGEN</h2>
                VAN EEN TEGENSTANDER
            </div>
            <div class='data-box white' fxFlex="0 1 50%">
                BEKIJKEN WE IN TOTAAL RUIM
                <h1>3.5</h1>
                <h2>UUR KORFBAL BEELDEN</h2>
            </div>
            <div class='data-box red' fxFlex="0 1 50%">
                BEWERKEN WE ZO’N
                <h1>4MB</h1>
                <h2>INDIVIDUELE</h2>
                SPELERSPASPOORTEN
            </div>

            <div class='data-box black' fxFlex="0 1 50%">
                ZIEN WIJ ZO’N
                <h1>250</h1>
                <h2>INDIVIDUELE CLIPS</h2>
                VAN EEN TEGENSTANDER
            </div>
            <div class='data-box white' fxFlex="0 1 50%">
                MAKEN WE ZO’N
                <h1>10</h1>
                <h2>INDIVIDUELE</h2>
                SPELERSPASPOORTEN
            </div>


        </div>
        <div class='single-column'>
            <div class='title2'>EKNELE LEUKE STATISTISCHE FEITJES</div>
            <div class='paragraph'>
                <ul class='list'>
                    <li>Wist je dat Amber het zuiverst was het afgelopen jaar, 27% van haar doelpogingen troff en doel</li>
                    <li>De beste in de KL maakt ruim 34% van alle doelpogingen</li>
                    <li>Pascal in de top 3 rebounders staat van de hele KL van het afgelopen jaar</li>
                    <li>DOS’46 er 1.10 min over doet om te scoren</li>
                    <li>Leander bij (direct en indirect) 54% van alle doelpunten in zijn vak betrokken is</li>
                    <li>Pascal en Eline hem op de voet met resp. 42% en 37% </li>
                    <li>Geen enkele heer van DOS’46 een strafworp heeft gemist.</li>
                    <li>Edwin en Rick nog op doorloopballen moeten trainen, slechts 1 op 4 wordt gemaakt</li>
                    <li>Een KL wedstrijd ongeveer 75 aanvallen per wedstrijd telt</li>
                    <li>DOS’46 het afgelopen jaar het op 1 na minste aantal doelpunten maakte, zo’n 17 per wedstrijd....</li>
                    <li>Maar wel de best verdedigende ploeg was van de hele KL, < 17 doelpunten per wedstrijd gemiddeld tegen</li>
                </ul>
                <br>
            </div>
        </div>
        <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
            <div class='paragraph' fxFlex="50%">
                Het afgelopen jaar hebben we een
                zogenaamde. ‘Goal share’ model ontwikkeld.
                <br><br>
                Niet alleen alle doelpunten worden
                meegenomen hierin, maar ook alle
                rebounds, assists, onderscheppingen,
                vrije ballen meegekregen etc. worden
                meegewogen.
                <br><br>
                Hiermee krijgen spelers/speelsters die
                niet vaak zelf scoren, wel een waarde in
                het aandeel in een doelpunt. En levert
                ons dit vaak interessante inzichten op
                <br><br>
                Ook hebben we een model ontwikkeld waarin we de score per kwartier
                per ploeg/spelers kunnen inzien.
                <br><br>

            </div>
            <div class='paragraph' fxFlex="50%">
                Sommige spelers beginnen altijd erg
                goed aan een wedstrijd, en worden
                minder naarmate de wedstrijd vordert, of andersom natuurlijk. En deze
                info kan de staf doen besluiten om
                halverwege de helft te wisselen van
                een specifi eke tegenstander.
                <br><br>
                Zoals je leest, zijn wij een multidisciplinair team met nog heel veel gave
                ideeën en plannen.
                <br><br>
                Het is erg belangrijk om te weten, dat
                data/statistieken op zichzelf niet veel
                zeggen, maar altijd een gevolg zijn van
                een korfbalactie.
                <br><br>
                Vind jij data, statistieken en/of analyses interessant en lijkt het jou leuk
                om hierin een bijdrage te kunnen leveren?
                <br><br>
                Of wil je gewoon wat meer informatie
                hebben? Of heb je nog vragen?
                Schiet één van ons dan aan.
                Wij helpen je graag en elke
                versterking is welkom!
                <br><br>
            </div>
        </div>

</div>




