<div class='image-header'>
    <div class="title">
            <a class="sub1">HOOFD JEUGD OPLEIDING </a> <br> 
            <a class="sub2"> LEANDER ZWOLLE</a>
    </div>
    <img src='../../assets/HJO/IMG_0966.jpg'> 

</div>


<div class='page-background'> 
    <div class="single-column">
            <div class='paragraph'>
                    <b>“BLIJF JEZELF
                        ONTWIKKELEN,
                        DAT KAN OP
                        ELKE LEEFTIJD”</b>
                    <br>
                    Leander Henk-Jan Zwolle - Henk en Jan zijn mijn twee opa’s
                    – zag op 10 juli 1997 in Meppel het levenslicht. Zijn korfbal
                    carrière startte bij SIOS in Wolvega. Na een verblijf bij SCO
                    in Oldeholtpade werd hij gescout door DOS’46 en sindsdien
                    speelt hij vol trots in de rood-zwarte kleuren.
            </div>
    </div>
    <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
            <div class='paragraph' fxFlex="50%">
                Op de vragen over zijn beste en
                slechtste eigenschap antwoordt
                Leander: “Ik geef me altijd 100%
                en probeer het beste uit mezelf en
                anderen te halen. In het veld ben
                ik kneiter fanatiek, maar ik vind het
                ook supermooi om mezelf weg te
                cijferen voor een ander. Daarnaast
                ben ik perfectionistisch en leg de lat
                hoog voor mezelf. Maar dat kan ook
                tegen je werken. Als ik best lekker
                heb gespeeld, maar niet top, baal ik
                daarvan. Het lukt me dan niet om dat
                ene foutje naast me neer te leggen.
                Dag (soms nacht) staat in het teken
                van sport. Af en toe kan dit ook te veel
                worden, alhoewel ik er veel energie
                van terug krijg.”
                <br><br>
                Sinds februari 2020 is Leander Zwolle
                aangesteld als Hoofd Jeugd Opleiding
                (HJO) van DOS’46. Hij is daarmee
                verantwoordelijk voor de technische
                invulling van KID (Korfbal Instituut
                DOS’46). KID omvat momenteel 200
                jeugdleden en 40 trainers. Om op
                het hoogste niveau van Nederland
                te blijven spelen is een goede
                jeugdopleiding essentieel. Enerzijds
                om talenten op te leiden, anderzijds
                om de vereniging te blijven voorzien
                van vrijwilligers.
                <br><br>
                Deze taak past heel goed bij zijn
                levensmotto: ‘‘Blijf jezelf ontwikkelen’’.
                Dat kan op elke leeftijd. Tegen de
                jeugdtrainers zeg ik altijd: „Het kind
                moet willen winnen, maar jij moet
                winst willen boeken.” Op de vraag
                hoe je HJO bij DOS’46 kan worden
                is het antwoord stellig: “Wanneer
                je iets wilt, kun je het worden, ook
                HJO 😉. Die rol past mij goed. Passie
                voor de sport en voor de speler/het
                kind moet je hebben. Ik steek er veel
                energie in en durf groot te dromen.
                Ik houd ervan om ambities te hebben
                en probeer deze zo goed mogelijk na
                te streven. Ook is het hebben van een
                pedagogische/sport achtergrond een voordeel. Daarnaast
                sta ik midden in de vereniging, waarbij
                ik open en benaderbaar probeer te
                zijn. Ik ben leergierig en sta open voor
                andermans ideeën.”
                <br><br>
   
            </div>
            <div class='paragraph' fxFlex="50%">
                <div class='quote'> 
                    ‘‘TROTS OM SAMEN
                    MET ZOVEEL ANDERE
                    VRIJWILLIGERS
                    KORFBAL INSTITUUT
                    DOS’46 TE BLIJVEN
                    DOORONTWIKKELEN
                    BIJ ONZE PRACHTIGE
                    VERENIGING.”
                </div>
                <br><br>  
                De ambitie van Leander is duidelijk:
                “De jeugdopleiding goed en sterk
                neerzetten. Maar behalve intern wil
                ik ook graag extern de vereniging en
                de sport promoten. Daarvoor gaan
                we bijvoorbeeld langs de scholen in
                de regio om korfbalclinics te geven.”
                Uiteraard is ook de interne focus van
                de HJO belangrijk. Leander vervolgt:
                Doelstelling is om het F, E en D
                trainingsplan verder vorm te geven.
                In dit plan staat de speler centraal.
                De motorische ontwikkeling van de
                speler is net zo belangrijk als de
                korfbal technische ontwikkeling
                <br><br>
                Het kind wordt een betere atleet en
                het kind wordt een betere korfballer
                (door te trainen op de korfbalacties en
                de techniek).Voor de C, B en A-jeugd
                en trainers worden verschillende
                bijeenkomsten over speelwijze en
                jeugdbeleid georganiseerd.
                <br><br>
                De afgelopen periode was ook wel
                ingewikkeld door Corona: hoe heb je
                dat gedaan? “Het was een leerzame,
                leuke, energierijke en bijzondere
                periode, waarin onwijs veel stappen
                zijn gezet. Ik ben ook wel trots om
                samen met zoveel andere vrijwilligers
                Korfbal instituut DOS’46 te kunnen
                blijven doorontwikkelen bij onze
                prachtige vereniging.”
                <br><br>
                Dat DOS’46 diep in Leander zijn hart
                zit, werd duidelijk tijdens de ALV van
                een jaar geleden. Hij mocht daar zijn
                plannen omtrent de jeugdopleiding
                presenteren. Tijdens de terugblik
                op een voor DOS’46 nare periode
                besefte hij hoe mooi deze club is. “De
                clubliefde voor DOS’46 zit diep bij mij.”
                Een mooie basis voor de rol van HJO!
            </div>
        </div>

</div>




