<div class='page-background'> 


    
    <div class="single-column" style='height: 100vh; background: rgb(0,0,0,0)'>
        <div class='title'>
            <a class="sub1">RIJTJE FEITJES </a> <br> 
            <a class="sub2"> AIRDOME NIJEVEEN</a>
            
            
        </div>
    </div>

  
    <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
        <div class='paragraph' fxFlex="50%">
         
            <div class='paragraph-title'>EIGENAAR HAL</div>
            <ul><li>
                Stichting Airdome Nijeveen
            </li></ul>
            
            <img class='paragraph-image' src='../../assets/airdome/20201113_202715.jpg'>

            <div class='paragraph-title'>LEVERANCIER HAL</div>
            <ul><li>
                Polyned Steenwijk
            </li></ul>
            <img class='paragraph-image' src='../../assets/airdome/IMG_8152.JPG'>

            <div class='paragraph-title'>AFMETING</div>
            <ul>
                <li>Lengte 43,5 meter</li>
                <li>Breedte 39,0 meter </li>
                <li>Hoogte 9,2 meter (in het midden gemeten)</li>
            </ul>
            <img class='paragraph-image' src='../../assets/airdome/IMG_8167.JPG'>

            <div class='paragraph-title'>MATERIAAL HAL</div>
            <ul>
                <li>Polyester Trevira weefsel tweezijdig gecoat PVC</li>
                <li>Net van RVC-kabel – gewicht 2.500 kg</li>
            </ul>
            <img class='paragraph-image' src='../../assets/airdome/IMG_8566.jpg'>

            <div class='paragraph-title'>VERANKERING BUITENZIJDE HAL GEMONTEERD</div>
            <ul>
                <li>Draaiankers 128 stuks met een lengte van 3 meter</li>
            </ul>
            <img class='paragraph-image' src='../../assets/airdome/IMG_8568.jpg'>

        </div>
        <div class='paragraph' fxFlex="50%">
            

            <div class='paragraph-title'>VENTILATOR-UNIT</div>
            <ul>
                <li>Gasgestookt</li>
                <li>Blaascapaciteit 20.000 m³/h</li>
                <li>Warmte capaciteit 291 kw(berekend op -10 graden buiten en +10 graden binnen)</li>
                <li>Diesel noodventilator</li>
            </ul>
            <img class='paragraph-image' src='../../assets/airdome/IMG_8570.jpg'>

            <div class='paragraph-title'>VERLICHTING</div>
            <ul>
                <li>40 stuks LED armaturen – (high bay 15 watt 5.700 K)</li>
            </ul>
            <img class='paragraph-image' src='../../assets/airdome/IMG_8581.jpg'>

            <div class='paragraph-title'>DEUREN</div>
            <ul>
                <li>1x draaideur 2x2 mtr</li>
                <li>1x verbindingstunnel 4x2 mtr</li>
                <li>2x nooddeur 1x2 mtr</li>
            </ul>
            <img class='paragraph-image' src='../../assets/airdome/IMG_8604.JPG'>

            <div class='paragraph-title'>VLOER</div>
            <ul>
                <li>Modulaire kunststofvloer direct op kunstgrasveld gemonteerd</li>
                <li>Leverancier vloer RoyalCampen te Kampen</li>
                <li>Snapshot indoor Bounceback sportvloer</li>
                <li>Vloer speciaal ontwikkeld als hoogwaardige sportvloer</li>
                <li>Totaal vloeroppervlakte (43,5 x 39) 1667 M²</li>
                <li>Dikte vloer is 20 mm.</li>
                <li>Vloer wordt gemonteerd in tegels van 30x30 cm welke
                middels een click systeem aan elkaar worden gekoppeld.</li>
                <li>Speelveldvloer -zandkleur- gemonteerd
                in een afmeting van 42 x 34 meter</li>
                <li>Buitenrand rondom court uitgevoerd in antraciet</li>
                <li>Speelveld (court) belijning -wit- 20x40 m</li>
                <li>Kleine velden 2 stuks belijning -rood- 12x24 m</li>
            </ul>
        
            
            <br><br>
        </div>     
    </div>        

</div>

    <!-- </div> -->

<!-- </div> -->
    



