<div class='static-page-background'>
    <div class='single-column'>
        <div class='title-container'>
            
            <div class='title'>
                ACTIVITEITEN <br>
                2021-2022
            </div>
            <img src='../../assets/save_the_date.png' class='header-image'>
        </div>

        <div class='calendar'>
            <div class='calendar-item '>
                <div class='data red'>
                    <a class='dag'>WOENSDAG</a><br>
                    <a class='datum-nummer'>24</a> <br>
                    <a class='maand'>NOV</a>
                </div>
                <div class='activity'>
                    <a class='activity-title'>SINTERKLAASFEEST</a> <br>
                    <a class='sub-title'>(Kangoeroe+F-jes + E+D's) | veldkantine </a>
                </div>
            </div>

            <div class='calendar-item '>
                <div class='data white'>
                    <a class='dag'>IEDERE</a><br>
                    <!-- <a class='datum-nummer'>24</a> <br> -->
                    <a class='sub-title'>UITWED.</a>
                </div>
                <div class='activity'>
                    <a class='activity-title'>UITWEDSTRIJD DOS'46 1</a> <br>
                    <a class='sub-title'>Via livestream te bekijken op groot scherm in de sporthal De Eendracht </a>
                </div>
            </div>

            <div class='calendar-item '>
                <div class='data black'>
                    <a class='dag'>VRIJDAG</a><br>
                    <a class='datum-nummer'>07</a> <br>
                    <a class='maand'>JAN</a>
                </div>
                <div class='activity'>
                    <a class='activity-title'>4x4 VRIENDENTOERNOOI<br> + NIEUWJAARSRECEPTIE </a> <br>
                </div>
            </div>

            <div class='calendar-item '>
                <div class='data red'>
                    <a class='sub-title'>HOUD DE WEBSITE & SOCIALS IN DE GATEN!</a>
                </div>
                <div class='activity'>
                    <a class='activity-title'>4x4 VRIENDENTOERNOOI<br><a class='red-font'>+ NIEUWJAARSRECEPTIE</a>  </a> <br>
                </div>
            </div>

            <div class='calendar-item '>
                <div class='data black'>
                    <a class='dag'>ZATERDAG</a><br>
                    <a class='datum-nummer'>16</a> <br>
                    <a class='maand'>APR</a>
                </div>
                <div class='activity'>
                    <a class='activity-title'>KORFBALLEAGURE FINALE<br> <a class='red-font'>IN ROTTERDAM AHOY</a>  </a> <br>
                </div>
            </div>
        </div>
    </div>
</div>


  