<div class='image-header'>
    <div class="title">
        ETEN IN <br>
        HERBERG <br>
        ’ T PLEIN
    </div>
    <img src='../../assets/plein.jpg'> 
    <img class='logo-overlay' src='../../assets/sponsoren/plein_logo_wit.png'>

</div>


<div class='page-background'> 
    <div class="single-column">
            <div class='paragraph'>
                Herberg ’t Plein ondersteunt de selectie tijdens het zaalseizoen met de verzorging van sportmaaltijden voor de trainingen op dinsdag en donderdag. Jaap en Petra de Boer dragen sport in Meppel in het algemeen, maar zeker ook DOS’46,
                een warm hart toe. Om dat warme gevoel om te zetten in concrete steun verzorgt de keuken van Herberg al enkele
                jaren de inwendige mens van onze selectie. De eerste jaren gebeurde dit in sporthal De Eendracht, de laatste jaren eet
                de selectie bij Herberg ‘t Plein in Meppel. Dit wordt vaak gecombineerd met een bespreking of gesprekjes tussen staf
                en spelers. Het geeft de spelers van buitenaf de mogelijkheid om na de studie of het werk naar Meppel te rijden en
                daar rustig te eten.
                <br><br>
                <div class='paragraph-title'>QUOTES VAN DE SELECTIE</div>
                <div style='text-align: center;'>
                <br><br>
                <a class='quote'>‘‘Bij Jaapie kun je altijd langskomen,
                    de gastvrijheid bij het plein staat hoog in het vaandel.’’</a>
                <br><br>
                <a class='quote'>‘‘De training is geen feest, zonder eerst bij ‘t plein te zijn geweest.’’</a>
                <br><br>
                <a class='quote'>‘‘Zonder eten bij ’t Plein krijg ik mijn planning
                    voor de trainingen niet rond.’’</a>
                <br><br>
                <a class='quote'>‘‘ Pasta van ’t Plein: kan menig pizzeria niet aan tippen.’’</a>
                <br><br>
                <a class='quote'>‘‘ Even rustig eten voor training: heerlijk!’’</a>
                <br><br>
                <a class='quote'>‘‘ Herberg ’t Plein is een belangrijk onderdeel in onze voorbereiding.’’</a>
                <br><br>
                </div>
            </div>
   
    </div>
</div>




