<div class='image-header'>
        <div class="title">
                <a class="sub1">TEAMWORK </a> <br> 
                <a class="sub2"> MAKES THE DREAM WORK</a>
        </div>
        <img src='../../assets/bestuur.JPG'> 
    
</div>


<div class='page-background'> 
        <div class="single-column">
                <div class='paragraph'>
                        <b>Als kleine jongen ben ik opgegroeid binnen de club en als
                        je eenmaal een wedstrijd van het 1e in een volle sporthal de
                        Eendracht hebt gezien dan wil je daar later ook staan. Dat
                        was mijn droom en die is meer dan werkelijkheid geworden.</b>
                        <br> <i>Haralt Lucas</i>
                </div>
        </div>
        <div class="double-column" fxLayout="row" fxLayout.lt-md="column">
                <div class='paragraph' fxFlex="50%">
                                De spanning op weg naar
                                een belangrijke wedstrijd, het
                                onvoorwaardelijk steunen van
                                elkaar onder druk en onder luide
                                aanmoedigingen van het publiek de
                                overwinning binnen halen. Dat je dit
                                samen met een gedreven team van
                                jongens en meiden mag doen is erg
                                bijzonder en dat heeft uiteindelijk ook
                                waardevolle vriendschappen voor mij
                                opgeleverd. 
                                <br><br>
                                DOS’46 is voor mij een hechte, warme
                                en gezonde korfbalvereniging waar
                                iedereen welkom is en zich snel thuis
                                voelt. Ieder lid van jong tot oud kan
                                in een veilige omgeving met plezier
                                sporten en krijgt daar waardering
                                voor; ongeacht talent, niveau of
                                afkomst. We zijn nuchter, betrokken,
                                hardwerkend en we doen dit samen.
                                <br><br>
                                Ik zie dat we met passie strijden
                                binnen de lijnen en daarnaast ervaar
                                ik de gezelligheid buiten de lijnen.<br><br>
                                <a class='paragraph-title'>EN DAT AL 75 JAAR LANG!</a>
                                <br>
                                We hebben als vereniging een rijke
                                historie met prachtige herinneringen
                                en het is goed om daar bij stil te staan.
                                We hebben onze verjaardag tijdens
                                de coronacrisis al klein gevierd met
                                o.a. een fi etspuzzeltocht en het DOS
                                Dolle Driegangen Diner, maar achter
                                de schermen zijn wij al druk bezig
                                met de voorbereidingen van het
                                jubileumweekend van 20 t/m 22 mei
                                2022. Dus zet deze datum alvast in de
                                in je agenda.
                                
                                <br><br>
                                <a class='paragraph-title'>4 SPEERPUNTEN</a>
                                <br>
                                
                                Maar het jubileum is het niet het
                                enige waar we mee bezig zijn. Voor dit
                                jaar heeft het bestuur 4 speerpunten
                                benoemd; KID, Vrijwilligers, Topkorfbal
                                en Communicatie. <br><br>

                                In de Algemene Jaarvergadering (ALV)
                                hebben wij deze mondeling toegelicht
                                en akkoord gekregen van de leden om
                                daar verder aan te werken. Daarnaast
                                zijn we druk bezig met het uitwerken
                                van een aantal thema’s zoals het
                                Meerjarenplan. <br><br>
                                </div>
                                <div class='paragraph' fxFlex="50%">
                                Inmiddels ben ik al weer een jaar
                                trotse voorzitter. Ondanks de uitbraak
                                van het Corona virus hebben wij als
                                DOS’46 met elkaar ontzettend veel
                                dingen goed gedaan. <br><br>
                                Vanuit de grondhouding ‘kijk naar wat
                                er wel kan’ en met een positieve drive
                                zijn er diverse acties zoals de Do(o)s
                                Clubliefde opgepakt. <br><br>
                                Dit heeft naast een financiële impuls
                                ook veel gedaan met de verbinding
                                binnen onze vereniging en het imago
                                van de club. <br><br>
                                Daarnaast was het fantastisch om
                                te zien hoe onze jeugd vanuit KID
                                met veel plezier wekelijks werd
                                getraind, hoe de verjongde A-selectie
                                presteerde en hoe we dit via de
                                livestream in de huiskamers hebben
                                gebracht. <br><br>
                                Door de afgelopen 1,5 jaar ben ik me
                                nog bewuster geworden hoe mooi
                                het is dat kinderen en volwassenen
                                op een ongedwongen manier met
                                plezier kunnen sporten met ouders,
                                familie, vrienden en/of supporters
                                langs de lijn. <br><br>
                                <a class='paragraph-title'>HIER GENIET IK VAN</a>
                                <br>
                                Een dag DOS’46 met veel (jeugd-)
                                wedstrijden, kinderen die springen op
                                de airmountain, vrijwilligers die alles
                                in goede banen leiden, ouders met
                                een kop koffi e of een drankje op het
                                terras en met als afsluiting een volle
                                Multiselect Arena met veel publiek
                                die de A-selectie naar de overwinning
                                schreeuwen. <br><br>
                                Het motto ‘Eendracht maakt macht’ is
                                waar wij met zijn allen voor staan. Dus
                                tot snel langs de lijn of op het veld.
                                Ik hoop op een spectaculair Korfbal
                                League seizoen met veel publiek.
                                <br><br>
                                </div>
                        </div>

</div>

        <!-- </div> -->

<!-- </div> -->
        



